Repository danieleschmidt/lang-observatory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/maintainers, @terragon-labs/platform-team, @terragon-labs/security-team, @terragon-labs/documentation-team, @terragon-labs/devops-team, @terragon-labs/qa-team

feat: implement expert-level SDLC enhancements for AI/ML observability
  docs/AI_ML_TESTING_PATTERNS.md
  docs/COMPLIANCE_AUTOMATION.md
  docs/SLO_SLI_DEFINITIONS.md
  docs/runbooks/availability-breach.md
  package.json
  tests/performance/scenarios/llm-cost-tracking.js
  tests/performance/slo-validation.js
Owners: @terragon-labs/documentation-team, @terragon-labs/maintainers, @terragon-labs/platform-team, @terragon-labs/qa-team

feat: implement expert-level+ SDLC optimization and modernization
  .npmrc
  docs/MODERNIZATION_REPORT.md
Owners: @terragon-labs/maintainers, @terragon-labs/documentation-team

feat(autonomous-sdlc): add autonomous SDLC bootstrap with value discovery and security fix
  .terragon/bootstrap-complete.md
  .terragon/config.yaml
  .terragon/discovered-backlog.json
  .terragon/execution-metrics.json
  AUTONOMOUS_VALUE_BACKLOG.md
  charts/lang-observatory/templates/langfuse-secrets.yaml
  charts/lang-observatory/values.yaml
  docs/SECURITY_CONFIGURATION.md
Owners: @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/maintainers

docs: establish enhanced project foundation and community files
  docs/adr/0004-security-hardening-strategy.md
  docs/adr/0005-data-retention-strategy.md
  docs/guides/getting-started.md
  docs/guides/local-development.md
Owners: @terragon-labs/documentation-team

feat: setup enhanced development environment and code quality tools
  .pre-commit-config.yaml
  requirements-dev.txt
Owners: @terragon-labs/platform-team, @terragon-labs/maintainers

test: establish comprehensive Python testing infrastructure
  docs/testing/README.md
  pytest.ini
  tests/python/conftest.py
  tests/python/unit/test_langfuse_integration.py
  tests/python/utils.py
Owners: @terragon-labs/maintainers, @terragon-labs/qa-team

docs: add comprehensive GitHub Actions workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @terragon-labs/maintainers, @terragon-labs/documentation-team

feat: complete SDLC implementation with comprehensive enhancements
  SDLC_IMPLEMENTATION_COMPLETE.md
Owners: @terragon-labs/documentation-team

feat: establish project foundation and implement core LLM observability functionality
  src/index.js
  src/services/langfuseService.js
  src/services/metricsService.js
  src/services/openlitService.js
  src/utils/config.js
  src/utils/helpers.js
  src/utils/logger.js
  src/utils/validators.js
Owners: @terragon-labs/maintainers

feat: setup dev environment and implement data persistence layer
  .devcontainer/devcontainer.json
  .env.example
  package.json
  src/cache/cacheManager.js
  src/database/connection.js
  src/database/migrations/001_create_llm_metrics.sql
  src/database/seeds/providers_seed.js
  src/repositories/baseRepository.js
  src/repositories/llmCallRepository.js
Owners: @terragon-labs/devops-team, @terragon-labs/maintainers

feat: implement API endpoints and comprehensive test suite
  package.json
  src/middleware/auth.js
  src/middleware/validation.js
  src/routes/analytics.js
  src/routes/health.js
  src/routes/index.js
  src/routes/llm.js
  src/routes/metrics.js
  src/routes/traces.js
  tests/unit/middleware/auth.test.js
  tests/unit/routes/health.test.js
  tests/unit/services/langfuseService.test.js
  tests/unit/utils/validators.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/qa-team

feat(neuromorphic): add comprehensive neuromorphic LLM observability system
  NEUROMORPHIC_SDK_GUIDE.md
  README.md
  examples/quickstart.js
  final-test.js
  neuromorphic-test.js
  src/index.js
  src/neuromorphic/errorHandler.js
  src/neuromorphic/neuromorphicCache.js
  src/neuromorphic/neuromorphicLLMInterface.js
  src/neuromorphic/performanceOptimizer.js
  src/neuromorphic/photonProcessor.js
  src/services/langfuseService.js
  test-runner.js
  tests/integration/neuromorphic-integration.test.js
  tests/integration/neuromorphic-system-test.js
  tests/unit/neuromorphic/neuromorphicLLMInterface.test.js
  tests/unit/neuromorphic/photonProcessor.test.js
Owners: @terragon-labs/documentation-team, @terragon-labs/maintainers, @terragon-labs/qa-team

Update README.md
  README.md
Owners: @terragon-labs/maintainers

feat(autonomous-sdlc): complete 3-generation progressive enhancement with quantum-reliable architecture
  src/index.js
  src/performance/autoScalingManager.js
  src/performance/performanceManager.js
  src/performance/simpleCache.js
  src/quantum/complianceManager.js
  src/quantum/i18nManager.js
  src/reliability/circuitBreaker.js
  src/reliability/reliabilityManager.js
  src/routes/health.js
  src/utils/validators.js
  tests/unit/neuromorphic/neuromorphicLLMInterface.test.js
  tests/unit/quantum/quantumTaskPlanner.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/qa-team

docs(architecture): add comprehensive global-first architecture documentation
  GLOBAL_ARCHITECTURE.md
Owners: @terragon-labs/documentation-team

feat(api): add comprehensive Lang Observatory observability stack
  src/api/middleware/globalErrorHandler.js
  src/api/server.js
  src/cli/index.js
  src/concurrency/workloadBalancer.js
  src/monitoring/healthMonitor.js
  src/neuromorphic/neuromorphicLLMInterface.js
  src/performance/distributedCache.js
  src/quantum/quantumTaskPlanner.js
  src/security/threatDetection.js
  src/validation/schemaValidator.js
Owners: @terragon-labs/maintainers, @terragon-labs/platform-team, @terragon-labs/security-team

feat(deployment): add comprehensive deployment automation and documentation
  DEPLOYMENT_GUIDE.md
  GLOBAL_ARCHITECTURE.md
  NEUROMORPHIC_SDK_GUIDE.md
  deployment/kubernetes/base/deployment.yaml
  deployment/kubernetes/base/kustomization.yaml
  docker/Dockerfile.production
  docker/docker-compose.production.yml
  docs/QUANTUM_TASK_PLANNER.md
  scripts/deploy.sh
  src/optimization/resourcePooler.js
  tests/integration/api-integration.test.js
  tests/performance/load-performance.test.js
  tests/security/security-validation.test.js
Owners: @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/maintainers, @terragon-labs/devops-team, @terragon-labs/qa-team

feat(autonomous-sdlc): complete autonomous SDLC execution with quantum leap
  .prettierignore
  AUTONOMOUS_SDLC_COMPLETE.md
  AUTONOMOUS_SDLC_EXECUTION_COMPLETE.md
  deployment/kubernetes/production/deployment.yaml
  deployment/kubernetes/production/kustomization.yaml
  deployment/production/.env.example
  deployment/production/docker-compose.production.yml
  package.json
  src/middleware/advancedValidation.js
  src/middleware/errorHandling.js
  src/middleware/securityEnhancements.js
  src/middleware/validation.js
  src/performance/intelligentCaching.js
  src/performance/loadBalancer.js
  src/quantum/adaptiveScheduler.js
  src/quantum/complianceManager.js
  src/quantum/performanceOptimizer.js
  src/quantum/quantumTaskPlanner.js
  src/routes/analytics.js
  src/routes/metrics.js
  src/routes/traces.js
  src/services/metricsService.js
  src/testing/qualityGates.js
  tests/unit/neuromorphic/neuromorphicLLMInterface.test.js
  tests/unit/routes/health.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/devops-team, @terragon-labs/qa-team

feat(autonomous-sdlc): complete quantum leap in LLM observability platform
  AUTONOMOUS_SDLC_EXECUTION_REPORT.md
  deployment/production/production-ready.yaml
  src/global/i18nManager.js
  src/global/multiRegionOrchestrator.js
  src/monitoring/advancedMonitoringOrchestrator.js
  src/research/experimentalFramework.js
  src/security/advancedSecurityManager.js
  tests/unit/integration/advancedFeatures.test.js
Owners: @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/maintainers, @terragon-labs/security-team, @terragon-labs/qa-team

feat(autonomous-sdlc): Complete quantum leap in LLM observability platform
  .env.production
  AUTONOMOUS_SDLC_EXECUTION_REPORT.md
  Dockerfile.production
  PRODUCTION_DEPLOYMENT_GUIDE.md
  deployment/kubernetes/production/configmap.yaml
  deployment/kubernetes/production/deployment-full.yaml
  deployment/kubernetes/production/namespace.yaml
  deployment/production/production-ready.yaml
  docker-compose.production.yml
  src/auto-optimization/adaptiveLearning.js
  src/integration/masterIntegrationHub.js
  src/intelligence/predictiveAnalytics.js
  src/orchestration/intelligentOrchestrator.js
  src/performance/hyperscaleOptimizer.js
  src/reliability/enterpriseResilience.js
  src/security/advancedThreatDetection.js
  tests/integration/master-integration.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/qa-team

feat(autonomous-sdlc): Complete Generation 3 autonomous SDLC execution with quantum leap enhancements
  GENERATION_3_COMPLETION_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  deployment/kubernetes/production/configmap.yaml
  deployment/kubernetes/production/deployment-full.yaml
  deployment/kubernetes/production/namespace.yaml
  docker-compose.production.yml
Owners: @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/devops-team, @terragon-labs/maintainers

feat(autonomous-sdlc): Complete Generation 3 autonomous SDLC execution with quantum leap enhancements
  .eslintrc.js
  .eslintrc.k6.js
  AUTONOMOUS_SDLC_GENERATION_3_COMPLETE.md
  deployment/production/production-values.yaml
  jest.config.js
  scripts/production-deploy.sh
  src/auto-optimization/adaptiveLearning.js
  src/compliance/globalComplianceManager.js
  src/global/i18nManager.js
  src/global/multiRegionOrchestrator.js
  src/index.js
  src/integration/masterIntegrationHub.js
  src/intelligence/predictiveAnalytics.js
  src/middleware/validation.js
  src/monitoring/advancedMonitoringOrchestrator.js
  src/orchestration/intelligentOrchestrator.js
  src/performance/hyperscaleOptimizer.js
  src/performance/productionScaleManager.js
  src/quantum/i18nManager.js
  src/reliability/enterpriseResilience.js
  src/research/experimentalFramework.js
  src/routes/metrics.js
  src/security/advancedSecurityManager.js
  src/security/advancedThreatDetection.js
  tests/integration/master-integration.test.js
  tests/unit/integration/advancedFeatures.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/qa-team, @terragon-labs/devops-team, @terragon-labs/security-team

fix: resolve all ESLint errors and add graceful security tool handling
  AUTONOMOUS_SDLC_EXECUTION_FINAL_REPORT.md
  AUTONOMOUS_SDLC_GENERATION_3_COMPLETE.md
  deployment/production/production-deployment.yaml
  deployment/production/production-values.helm.yaml
  deployment/production/production-values.yaml
  jest.config.js
  package.json
  src/api/routes/observability.js
  src/core/observabilityEngine.js
  src/quantum/i18nManager.js
  src/reliability/resilienceOrchestrator.js
  src/scalability/globalOrchestrator.js
  src/sdk/langObservatorySDK.js
  src/security/advancedSecurityFramework.js
  src/testing/qualityGatesValidator.js
  src/validation/comprehensiveValidator.js
  test-quality-gates.js
Owners: @terragon-labs/documentation-team, @terragon-labs/platform-team, @terragon-labs/qa-team, @terragon-labs/maintainers, @terragon-labs/security-team

feat(quantum-optimization): add comprehensive quantum optimization report and enhancements
  QUANTUM_OPTIMIZATION_REPORT.md
  src/reliability/reliabilityManager.js
  src/security/threatDetection.js
Owners: @terragon-labs/documentation-team, @terragon-labs/maintainers, @terragon-labs/security-team

feat(research): complete autonomous SDLC quantum-neuromorphic fusion implementation
  AUTONOMOUS_SDLC_RESEARCH_COMPLETE.md
  docs/QUANTUM_NEUROMORPHIC_FUSION_RESEARCH.md
  scripts/validate-research.js
  src/quantum/errorHandler.js
  src/quantum/securityManager.js
  src/research/benchmarkingSystem.js
  src/research/quantumNeuromorphicFusion.js
  src/research/statisticalFramework.js
  tests/research/fusion-validation.test.js
Owners: @terragon-labs/documentation-team, @terragon-labs/devops-team, @terragon-labs/maintainers, @terragon-labs/qa-team

feat(quality-gates): add comprehensive autonomous progressive quality gates system
  manual-quality-gates-test.js
  progressive-quality-gates-test.js
  simplified-quality-gates-test.js
  src/testing/adaptiveQualityEngine.js
  src/testing/intelligentQualityOrchestrator.js
  src/testing/masterQualityOrchestrator.js
  src/testing/progressiveQualityGates.js
  src/testing/quantumQualityGates.js
  src/testing/realTimeQualityMonitor.js
  tests/unit/progressive-quality-gates.test.js
Owners: @terragon-labs/maintainers, @terragon-labs/qa-team

.github/CODEOWNERS:

# Global ownership - Terragon Labs maintainers
* @terragon-labs/maintainers

# Helm charts and Kubernetes manifests
charts/ @terragon-labs/platform-team @terragon-labs/maintainers
*.yaml @terragon-labs/platform-team
*.yml @terragon-labs/platform-team

# Security and compliance
SECURITY.md @terragon-labs/security-team @terragon-labs/maintainers
security/ @terragon-labs/security-team @terragon-labs/maintainers
.trivyignore @terragon-labs/security-team

# Documentation
docs/ @terragon-labs/documentation-team @terragon-labs/maintainers
*.md @terragon-labs/documentation-team
README.md @terragon-labs/maintainers

# CI/CD and automation
.github/ @terragon-labs/devops-team @terragon-labs/maintainers
scripts/ @terragon-labs/devops-team @terragon-labs/maintainers
Dockerfile @terragon-labs/devops-team @terragon-labs/maintainers
docker-compose*.yml @terragon-labs/devops-team @terragon-labs/maintainers

# Testing
tests/ @terragon-labs/qa-team @terragon-labs/maintainers
*.test.js @terragon-labs/qa-team
*.spec.js @terragon-labs/qa-team
jest.config.js @terragon-labs/qa-team
playwright.config.js @terragon-labs/qa-team
stryker.conf.js @terragon-labs/qa-team

# Configuration
config/ @terragon-labs/platform-team @terragon-labs/maintainers
monitoring/ @terragon-labs/platform-team @terragon-labs/maintainers
dashboards/ @terragon-labs/platform-team @terragon-labs/maintainers

# Package management
package.json @terragon-labs/maintainers
package-lock.json @terragon-labs/maintainers
renovate.json @terragon-labs/maintainers
.github/dependabot.yml @terragon-labs/maintainers

# Development environment
.devcontainer/ @terragon-labs/devops-team @terragon-labs/maintainers
.editorconfig @terragon-labs/maintainers
.gitignore @terragon-labs/maintainers

# Performance and chaos engineering
tests/performance/ @terragon-labs/platform-team @terragon-labs/qa-team
tests/chaos/ @terragon-labs/platform-team @terragon-labs/qa-team
